---
import Layout from '../layouts/Layout.astro';
---

<Layout  title="CarFast - Страница не найдена" stylesheet="404">
	<div id="UpperBlock">
		<h1>Страница с данным адресом не существует</h1>
        <a href="/">На главную</a>
	</div>
</Layout>