.Origin, .AboutUs, .Reviews, .Services {
    background-color: var(--color2);
    max-width: 1200px;
    box-sizing: border-box;
    padding-left: 5%;
    padding-right: 5%; 
    margin-left: auto;
    margin-right: auto;
}

.Origin{
    background-color: var(--color1);
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
}

.OriginText{
    background-color: var(--bg-color);
    text-align: center;
    box-sizing: border-box;
    padding: 5%;
}

.Modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 4;
}

.ModalContent {
    background-color: var(--bg-color);
    color: var(--font-color);
    margin: 15% auto;
    padding: 20px;
    width: 70%;
    max-width: 500px;
    position: relative;
}

#ModalReg {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ModalLogin {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#ConfirmPasswordLabel {
    text-align: left;
}

#ModalTitle {
    text-align: center;
}

.ModalInput {
    margin: 2% 5%;
    display: flex;
    justify-content: space-between;
}

.ModalInput input {
    width: 70%;
}

.CloseModal {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
}

#SubmitButton {
    width: 30%;
    margin: 3% 35%;
}

.ModalInput input, select {
    width: 70%;
}

span {
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
    font-size: 25px;
}

.Modal input[type="submit"] {
    width: 30%;
    margin: 2%;
}

.AboutUs{
    text-align: center;
    padding-bottom: 3%;
}

.AboutImg{
    width: 60%;
    margin: 5% auto;
}

.AboutBuffer{
    z-index: 10;
    background-color: var(--color1);
    width: 116%;
    height: 4vw;
    margin-left: -8%;
}

.Reviews{
    margin-top: -3%;
}

.Reviews h2{
    text-align: center;
}

.FlexReviews{
    background-color: var(--bg-color);
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Review{
    background-color: var(--color2);
    width: 50%;
    padding-bottom: 5%;
}

.ReviewsBuffer{
    z-index: 10;
    background-color: var(--color1);
    width: 116%;
    height: 4vw;
    margin-left: -8%;
}

.ReviewAvatar{
    display: inline-block;
    width: 20%;
    border-radius: 1000px;
    margin: 5%;
}

.ReviewAvatar:hover {
    transition: transform 0.3s ease;
    transform: scale(1.15);
}


.ReviewDecor{
    background-color: var(--color3);
    display: inline-block;
    width: 1%;
    height: 85%;
    margin-right: 2%;
}

.ReviewContent{
    display: inline-block;
    width: 50%;
    margin-top: auto;
    margin-bottom: auto;
}

.ReviewQuote{
    width: 100%;
    margin-top: 2%;
    margin-bottom: 2%;
    font-style: italic;
}

.Services{
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
    padding-bottom: 4%;
}

.ServicesText{
    display: inline-block;
    margin: auto;
    text-align: center;
}

.ServicesButton{
    background-color: #478AC9;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFFFFF;
    padding: 7% 10%;
    margin-top: -5%;
}

iframe{
    display: inline-block;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}